<div>
  <button type="button" class="btn btn-dark mr-3" (click)="this.DBService.view = 'menu'">Menu Principal</button>
  <button type="button" class="btn btn-dark" (click)="getObjects()">Consultar</button>
  <table class="table table-striped table-dark mt-5">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nombre</th>
        <th scope="col">Fecha</th>
        <th scope="col">Acción</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let objeto of objetos">
        <th scope="row">{{objeto.id}}</th>
        <td>{{objeto.nombre}}</td>
        <td>{{objeto.fecha}}</td>
        <td>{{objeto.accion}}</td>
      </tr>
    </tbody>
  </table>
</div>
