.client {
  // background: linear-gradient(
  //   to right,
  //   #0f0c29,
  //   #302b63,
  //   #24243e
  // ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(
    to right,
    #159957,
    #155799
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  padding-top: 40px;

  color: white;
  height: 100vh;
}
