<div class="client">
  <div class="container">
    <div class="header">
      <h1 class="text-center">Sistemas Distribuidos</h1>
      <img
        class="wrappe"
        src="assets/logo.png"
        width="auto"
        height="60px"
        alt="logo"
      /> 
    </div>   
    <div *ngIf="this.DBService.view === 'menu'" class="row wrapper">
      <div class="col">
        <div class="card d-flex flex-column">
          <h4>Consultar objetos</h4>
          <button type="button" class="btn mt-auto" (click)="this.DBService.view = 'consultar'">Ir</button>
        </div>
      </div>
      <div class="col">
        <div class="card d-flex flex-column">
          <h4>Crear objeto</h4>
          <button type="button" class="btn mt-auto" (click)="this.DBService.view = 'crear'">Ir</button>
        </div>
      </div>
      <div class="col">
        <div class="card d-flex flex-column">
          <h4>Eliminar objeto</h4>
          <button type="button" class="btn mt-auto" (click)="this.DBService.view = 'eliminar'">Ir</button>
        </div>
      </div>
      <div class="col">
        <div class="card d-flex flex-column">
          <h4>Replicar y restaurar datos</h4>
          <button type="button" class="btn mt-auto" (click)="this.DBService.view = 'replicar'">Ir</button>
        </div>
      </div>
    </div>
    <app-consultar *ngIf="this.DBService.view === 'consultar'" ></app-consultar>
    <app-crear *ngIf="this.DBService.view === 'crear'" ></app-crear>
    <app-eliminar *ngIf="this.DBService.view === 'eliminar'" ></app-eliminar>
    <app-replicar-restaurar *ngIf="this.DBService.view === 'replicar-restaurar'" ></app-replicar-restaurar>
  </div>  
</div>
