<div>
    <div>
        <img
          class="back-button"
          src="assets/back.png"
          width="auto"
          height="40px"
          alt="back"
          (click)="this.DBService.view = 'menu'"
        />    
    <div class="wrapper">
      <div class="card">
        <h5 class="mb-4">REPLICAR / RESTAURAR </h5>
        <form [formGroup]="form" class="needs-validation" (ngSubmit)="makeAction()" novalidate>
          <div class="form-row mb-2">
            <div class="col">
              <label >¿Qué deseas realizar?</label>
              <select 
                class="custom-select" 
                id="inputGroupSelect01"
                formControlName="feature"
                >
                <option 
                    *ngFor="let action of actionOptios; let i = index"
                    [selected]="i == 0"
                >
                {{action}}
                </option>
              </select>
            </div>
          </div>

          <div class="form-row mb-2">
            <div class="col">
              <label>{{ dropdownLabel }}</label>
              <select 
                class="custom-select" 
                id="feature"
                formControlName="dropdownContent"
                >
                <option 
                    *ngFor="let options of dropdownActualDropdowns; let i = index"
                    [selected]="i == 0"
                >
                {{ options }}
                </option>
              </select>
            </div>
          </div>

          <button
            id="login"
            class="btn btn-crear btn-dark mt-3"
            [disabled]="loading"
            type="submit"
          >
            <span
                *ngIf="loading"
                class="spinner-border spinner-border-sm"
                role="status"
                aria-hidden="true"
                ></span>
          {{actionToMake}}
          </button>
        </form>
      </div>
    </div>
  </div>
  