/* You can add global styles to this file, and also import other style files */
body {
}

.btn {
  background-color: #0064c7 !important;
  border-color: #0064c7 !important;
  color: white;
}

.card {
  background-color: #15153a !important;
}

.table-dark {
  background-color: #15153a !important;
}

.back-button {
  cursor: pointer;
}
